<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright 2022 © jegan, Inc. All rights reserved.
 * @license     See COPYING.txt for license details.
 * @package     Loop_TrackingService
 * @author      jegan jeyaraman <jeganjeyaraman.yt@gmail.com>
 * @link        https://jegan.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Loop_TrackingService::info" title="Magently API - Products"
                          translate="title" sortOrder="110">
                    <resource id="Loop_TrackingService::tracklist_get" title="Get product"
                              translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
